<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
</head>
<body>
    <h1>All Tasks</h1>
    <a href='/completed'>Completed</a>
    <a href='/'>Create Task</a>

    <ul>
        {% for item in thing %}
            <label><input type="submit" name=button value="{{ completed }}" ><li>{{ item }}</li> </input> </label>
        {% endfor %}   
    </ul>
  
</body>
</html>