<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
</head>
<body>
    <form method="POST">    
        <label>  Add task  <input type="submit"> </input> <input type="text" value="{{ task }}" required minlength="1" name=task>    </label>    
        
    </form>
    {% for item in result %}
    <li>{{ item }}</li>
    {% endfor %}
</body>
</html>